<ion-view class="post-view">
  <ion-nav-title>
    <span ng-bind-html="post.title | rawHtml"></span>
  </ion-nav-title>
  <ion-content>
    <img ng-src="{{post.attachments[0].images.full.url}}" class="toppostimg" />
    <div class="post">
      <div class="card-header">
        <h1 ng-bind-html="post.title | rawHtml"></h1>
        <h2>Posted <span am-time-ago="post.date"></span> by <span class="author" ng-bind-html="post.author.name | rawHtml"></span></h2>
      </div>
      <div class="card-content" ng-bind-html="post.content | rawHtml"></div>
    </div>
    <div class="post-actions">
      <span class="card-button primary sharebtn" ng-click="sharePost(post.url)">Share</span>
    </div>
  </ion-content>
</ion-view>
